@using DentoApp.Models
@using DentoApp.Helpers
@model DentoApp.Models.DentistsViewModel
@{
    ViewData["Title"] = "Dentists";
}
<h1>Dentists</h1>

<!-- CRUD Butonları -->
<div class="mb-3">
    <a class="btn btn-success" href="@Url.Action("Create")">Add New Dentist</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
            <th>Age</th>
            <th>Profession</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dentist in Model.Dentists)
        {
            <tr>
                <td>@dentist.Id</td>
                <td>@dentist.Name</td>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = dentist.Id })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = dentist.Id })">Delete</a>
                </td>
                <td>@dentist.Age</td>
                <td>@EnumHelper.GetDisplayName(dentist.Profession)</td>
                <td>@dentist.PhoneNumber</td>
                <td>@dentist.Email</td>
                <td>@dentist.Gender</td>
            </tr>
        }
    </tbody>
</table>
