@model DentoApp.Models.DentistsViewModel

<h1>Dentists</h1>

<!-- CRUD Butonları -->
<div class="mb-3">
    <a class="btn btn-success" href="@Url.Action("Create")">Add New Dentist</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dentist in Model.Dentists)
        {
            <tr>
                <td>@dentist.Id</td>
                <td>@dentist.Name</td>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = dentist.Id })">Edit</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = dentist.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
