@using DentoApp.Models
@using DentoApp.Helpers
@model DentoApp.Models.TreatmentsViewModel
@{
    ViewData["Title"] = "Treatments";
}


<!-- CRUD Butonları -->
<div class="mb-3">
    <a class="btn btn-success" href="@Url.Action("Create")">Add New Treatment</a>
</div>

<h1>Treatments</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
            <th>Dentist</th>
            <th>Patient</th>
            <th>Type</th>
            <th>Duration(h)</th>
            <th>Price(TRY)</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var treatment in Model.Treatments)
        {
            <tr>
                <td>@treatment.Id</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = treatment.Id })">Edit</a>
                    <a href="@Url.Action("Delete", new { id = treatment.Id })">Delete</a>
                </td>
                <td>@treatment.Dentist?.Name</td>
                <td>@treatment.Patient?.Name</td>
                <td>@EnumHelper.GetDisplayName((TreatmentType)Enum.Parse(typeof(TreatmentType), treatment.TreatmentType))</td>
                <td>@treatment.TreatmentDuration</td>
                <td>@treatment.Price</td>
                <td>@treatment.TreatmentDescription</td>
            </tr>
        }
    </tbody>
</table>
